@page
@model IndexModel
@{
    ViewData["Title"] = "Fire, by Ed Sheeran.";
}

<title></title>
<div class="text-center">
    <h1 class="display-4">ENJOY!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2fngvQS_PmQ" allowfullscreen></iframe>
</div>
<p><button onclick="BlockMove()">Click Me</button></p>

<div id="container">
    <div id="animate"></div>
</div>